:root {
  --bg-gradient: linear-gradient(
    140deg,
    rgba(255, 0, 0, 1) 0%,
    rgba(253, 188, 29, 1) 15%,
    rgba(0, 255, 53, 1) 30%,
    rgba(0, 255, 186, 1) 41%,
    rgba(29, 152, 253, 1) 52%,
    rgba(29, 35, 253, 1) 66%,
    rgba(155, 29, 253, 1) 79%,
    rgba(253, 29, 212, 1) 91%,
    rgba(253, 29, 29, 1) 100%
  );
}

.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
}
