#!/bin/bash
#
# Source to start using the environment

[ "$BASH_SOURCE" != "$0" ] || (echo "Source me"; exit 1)

# Determine project root
export PROJECT_ROOT=$(dirname $(realpath $BASH_SOURCE))

# Set up paths for using locally-built ffmpeg
export LD_LIBRARY_PATH="$PROJECT_ROOT/build/ffmpeg/install/lib:$LD_LIBRARY_PATH"
export PATH="$PROJECT_ROOT/build/ffmpeg/install/bin:$PATH"

# Make sure nvm is accessible
export NVM_DIR="$HOME/.nvm"
[ -s "$NVM_DIR/nvm.sh" ] && source "$NVM_DIR/nvm.sh"  # This loads nvm
[ -s "$NVM_DIR/bash_completion" ] && source "$NVM_DIR/bash_completion"  # This loads nvm bash_completion

# Source deployment-specific setup
[ -s ~/.deploymentrc ] && source ~/.deploymentrc

# Default working directory is the project
cd $PROJECT_ROOT